<article>
  <section>
    <header>
      <h1 class="page-title">Welcome to Tech Job Corp.!</h1>
      <p>We're so happy you've decided to apply. Submit your resume below and we'll get back to you shortly (*cough* ghost *cough*).</p>
    </header>
  </section>


<% if @user.errors.full_messages.any? %>
  <strong>Errors:</strong>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end  %>
  </ul>
<% end %>

<%# Create account form %>
<%= form_with model: @user, local: true do |f| %>
  <%= f.label :username, 'Applicant name' %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.submit "Let's play", :class => 'button-primary' %><br />
  <%= link_to 'Cancel', root_path, class: 'button button-secondary', title: "Home" %>
  <p><small>Already applied for Tech Job Corp.? <%= link_to 'Login', login_path %></small></p>
<% end %> 
</article>
