<h1>Welcome <%= @current_user.username%></h1>
<a href = '/'><%= image_tag 'TechCorpLogo.svg', alt: "Tech Job Corp", id: "game-logo" %></a>
<p>Your Score History</p>

<!-- Table containing top unique salaries (Note: User only appears <= 1) -->
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Game Number</th>
                <th>Date of Interview</th>
                <th>Date Interview Concluded</th>
                <th>Length of Interview</th>
                <th>Score</th>
                <th>Salary</th>

            </tr>
        </thead>

        <tbody>
          <% if @games.present? %>
            <% @games.each do |g| %>
            <tr>
              <td><%= g.id%></td>
              <td><%= g.created_at%>></td>
              <td><%= g.updated_at%>></td>
              <td><%= g.game_time%></td>
              <td<%= g.score%></td>
              <td<%= g.salary%></td>
            </tr>
            <%end%>
          <% else %>
            <tr>
              <td>Play a Game and your results will show up here</td>
          <% end %>
            </tr>
</tbody>
</table> <!-- table.u-full-width -->
