<article>
    <header class="centering">
        <%= image_tag 'TechCorpLogo.svg', alt: "Tech Job Corp", id: "game-logo" %>
    </header>
    <br/>
    <section>
        <header>
            <h1 class="page-title">
                Our top employees
            </h1>
        </header>
        <%# Table containing top unique salaries (Note: User only appears <= 1) %>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Hired</th>
                        <th>Salary</th>
                    </tr>
                </thead>
            
                <tbody>
                    <% @games.each do |g|%>
                        <tr>
                            <td><%= g.user.username %></td>
                            <td><time datetime=<%= g.updated_at %>><%= g.updated_at %></time></td>
                            <%# TODO: CHANGE TO g.salary ONCE SALARY ADDED TO MODEL %>
                            <td><%= g.score %></td>
                        </tr>
                    <% end %>

                </tbody>
            </table> <!-- table.u-full-width -->
    </section>

<%# Menu buttons %>
        <nav aria-label="Game menu" class="main-menu">
            <% if @current_user.present? && @current_user.games.present? %>
                <%= button_to "Increase your Salary", {action: "create"}, {title: "Play again", class: "button button-primary"} %>
                <%= button_to "Review your Previous interviews", user_path(@current_user.id), class: "button button-secondary" %>
            <% elseif @current_user.present? %>
                <%= button_to "Get Hired", action: "create" %>
            <% else %>
                <%= link_to "Apply for a job", new_user_path, class: "button button-primary", title: "Create account" %>
                <%= link_to "Login to Take the Interview", login_path,class: "button button-secondary" %>
            <%end%>
        </nav>
</article>
