<!DOCTYPE html>
<html>
  <head>
    <title>Tech Job Corp: The Game</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('techcorp-favicon.svg') %>
  </head>

  <body>
    <div class="container">
      <header>
        <nav aria-label="Account menu" class="app-nav">
          <ul>
          <% if @current_user.present? %>
            <li id="greeting-user">
              <%= @current_user.username %>
            </li>
            <li>
              <%= link_to 'Logout', login_path, method: 'delete' %>
            </li>
          <% else %>


          <% end %>
          </ul>
        </nav>
        </header>
        <main>
          <%= yield %>
        </main>
        </div>  <!-- end of div.container -->
        <div class='footer'>
        <footer>
          <small>&copy; <%= link_to "Brooke", "https://github.com/dutchessoflx", :target => "_blank" %>, <%= link_to "Lucy", "https://github.com/LucySE/", :target => "_blank" %>, <%= link_to "Manda", "https://github.com/nimisaya", :target => "_blank" %> and <%= link_to "Reece", "https://github.com/reecen96", :target => "_blank" %>, 2021</small>
        </footer>
      </div> <!-- div.footer -->
  </body>
</html>
